/* Major Style */

.container h2 {
    margin-left: 400px;
    margin-bottom: 20px;
}

#calculator {
    background-color: #505050;
    width: 35%;
    min-height: 484px;
    max-height: 520px;
    border-radius: 5px;
    margin: 0 auto;
}

.form-control {
    height: 50px;
    font-size: 15px;
    display: inline-block;
    margin-top: 28px;
    margin-left: 2px;
    text-align: right;
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 396px;
    }
}


/*  style Button-Primary */

.btn-primary {
    width: 15.7%;
    height: 40px;
    margin-left: 9px;
    margin-bottom: 14px;
}

.btn-lg {
    width: 92%;
    height: 50px;
}

button#comma {
    font-weight: bold;
}

.keys {
    width: 100%;
    display: inline-block;
    margin: 15px 7px 15px 7px;
}


/* MEDIA QUERIE Mini-Laptop screen view */

@media (max-width:1199px) and (min-width:990px) {
    #calculator {
        width: 38%;
    }
    .form-control {
        width: 90%;
        margin-left: 0px;
    }
    .container h2 {
        margin-left: 310px;
        font-size: 2.9rem;
    }
    .keys {
        width: 100%;
        display: inline-block;
        margin: 15px 5px 15px 5px;
    }
    .btn-lg {
        width: 92.5%;
        height: 45px;
    }
}


/* MEDIA QUERIE Tablet Screen View */

@media (max-width:991px) and (min-width:768px) {
    #calculator {
        width: 47%;
        height: 500px;
    }
    .form-control {
        width: 100%;
        margin-left: 0px;
    }
    .container h2 {
        margin-left: 221px;
        font-size: 2.7rem;
    }
    .keys {
        width: 100%;
        display: inline-block;
        margin: 0px 1px 15px 0px;
    }
    .btn-lg {
        width: 93%;
        height: 45px;
    }
}


/* MEDIA QUERIE Mobile large screen */

@media (max-width:767px) {
    #calculator {
        width: 46%;
    }
    .form-control {
        width: 100%;
        margin-left: 0px;
    }
    .container h2 {
        margin-left: 223px;
        font-size: 2.5rem;
    }
    .keys {
        width: 100%;
        display: inline-block;
        margin: 0px;
        margin-left: 4px !important;
    }
    .btn-primary {
        width: 15%;
    }
    .btn-lg {
        width: 93.5%;
        height: 44px;
    }
}

@media (max-width:578px) {
    #calculator {
        width: 65%;
        height: 500px;
    }
    .form-control {
        width: 100%;
        margin-left: 0px;
    }
    .container h2 {
        margin-left: 130px;
        font-size: 2.3rem;
    }
    .keys {
        width: 100%;
        display: inline-block;
        margin: 0px;
        margin-left: 6px !important;
    }
    .btn-primary {
        width: 15%;
    }
    .btn-lg {
        width: 90%;
        height: 44px;
    }
}

@media (max-width:448px) {
    #calculator {
        width: 85%;
        height: 500px;
    }
    .form-control {
        width: 100%;
        margin-left: 0px;
    }
    .container h2 {
        margin-left: 85px;
        font-size: 2.1rem;
    }
    .keys {
        width: 100%;
        display: inline-block;
        margin: 0px;
        margin-left: 6px !important;
    }
    .btn-primary {
        width: 15%;
    }
    .btn-lg {
        width: 90%;
        height: 44px;
    }
}

@media (max-width:375px) {
    #calculator {
        width: 100%;
        height: 500px;
    }
    .form-control {
        width: 100%;
        margin-left: 0px;
    }
    .container h2 {
        margin-left: 60px;
        font-size: 1.5rem;
    }
    .keys {
        width: 100%;
        display: inline-block;
        margin: 0px;
        margin-left: 4px !important;
    }
    .btn-primary {
        width: 15%;
        /* margin-left: 8px; */
    }
    .btn-lg {
        width: 91%;
        height: 44px;
    }
}